
<data ui-view="">
    <header id="header" class="clearfix ng-scope" data-current-skin="blue">
        <ul class="header-inner">
            <li id="menu-trigger" data-trigger="#sidebar" class="">
                <div class="line-wrap">
                    <div class="line top"></div>
                    <div class="line center"></div>
                    <div class="line bottom"></div>
                </div>
            </li>
            <li class="logo hidden-xs">
                <a >Doctor Dashboard</a>
            </li>
            <li class="pull-right">
                <button class="btn btn-danger" ng-click="logout()">Logout</button>
            </li>

        </ul>
        <!-- Top Search Content -->
        <div id="top-search-wrap">
            <div class="tsw-inner">
                <i id="top-search-close" class="zmdi zmdi-arrow-left"></i>
                <input type="text">
            </div>
        </div>
    </header>
    <section id="main" data-layout="layout-1" class="ng-scope">

        <section id="content" style="padding-left: inherit">
            <div class="container">
                <div align="center" class="block-header">
                    <h2 style="font-size: 30px">Patients List</h2>
                </div>
                <div style="padding-left: 33%" class="mini-charts">
                    <div class="row">
                        <div style="cursor: pointer" class="col-sm-6 col-md-3" ng-click="getAdmittedPatients()">
                            <div class="mini-charts-item bgm-lightgreen">
                                <div class="clearfix">
                                    <div class="count">
                                        <small style="font-size: 20px">Admitted Patients</small>
                                        <h2>{{count.admitCount}}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="cursor: pointer" class="col-sm-6 col-md-3" ng-click="getOpdPatients()">
                            <div class="mini-charts-item bgm-orange">
                                <div class="clearfix">
                                    <div class="count">
                                        <small style="font-size: 20px">OPD Patients</small>
                                        <h2>{{count.opdCount}}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section" ng-if = "listname">
                <div align="center" class="card-header" >
                    <h2 align="center" style="font-size: 20px">{{listname}}</h2>
                </div>
                <table align="center" id="data-table-command" class="table table-striped table-vmiddle" style="width: 50%">
                    <thead>
                        <tr>
                            <th data-column-id="id" data-type="numeric" style="width: auto">ID</th>
                            <th data-column-id="sender" style="width: auto">Patient Name</th>
                            <th data-column-id="received" data-order="desc" style="width: auto">Status</th>
                            <th data-column-id="commands" style="width: auto">Action</th>
                            <th data-column-id="commands" style="width: auto">New Prescription</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="patient in patientList">
                            <td style="font-size: larger; width: auto">{{patient.id}}</td>
                            <td style="font-size: larger; width: auto">{{patient.patientName}}</td>
                            <td style="font-size: larger; width: auto">{{patient.status}}</td>
                            <td style="padding-bottom: 5px; white-space: nowrap"><button class="btn btn-icon command-edit waves-effect waves-circle" ng-click = "open('lg', patient.id)"><i class="zmdi zmdi-edit"></i></button></td>
                            <td style="padding-bottom: 5px; white-space: nowrap"><a ui-sref="doctordash.newPrescription({'id':patient.id,'type':listname,'patient':patient})"><button class="btn btn-icon command-edit waves-effect waves-circle" ><i class="zmdi zmdi-plus"></i></button></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </section>

    <script type="text/ng-template" id="editPatient.html">
        <div class="modal-header">
            <h2 class="modal-title">{{prescriptionList[0].pdmod.patientName}}</h2>
            <div class="pull-right">
                <button class="btn waves-effect" data-dismiss="modal">Cancel</button>
            </div>
        </div>

        <div class="card-body card-padding">
            <div role="tabpanel">
                <ul class="tab-nav" role="tablist">
                    <li ng-repeat="prescription in prescriptionList"
                        role="presentation"
                        ng-click="selectTab(prescription.id)"
                        ng-class="{active:activeTab==prescription.id}">
                            <a href="javascript:void(0);">{{prescription.date | date:'MM/dd/yyyy'}}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="modal-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <b>Note:</b> {{note}}
                        </br>
                    </tr>
                    <tr>
                        <td><b>Medicine Name</b></td>
                        <td><b>Contents</b></td>
                        <td><b>Description</b></td>
                        <td><b>Used for</b></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pres in prescriptions">
                        <td>{{pres.medicine.name}}</td>
                        <td>{{pres.medicine.contents}}</td>
                        <td>{{pres.description}}</td>
                        <td>{{pres.medicine.usedfor}}</td>
                    </tr>
                <tbody>
            </table>
        </div>

        <div class="modal-footer"></div>
    </script>
</data>
