<data ui-view>
	<section id="main" data-layout="">
		<div class="block-header">
         	<button ui-sref="resultList" class="btn btn-default btn-icon-text waves-effect"><i class="zmdi zmdi-arrow-back"></i> Back</button>	
        </div>
		<div class="row">
			<div class="col-lg-1">
			</div>
			<div class="col-lg-10">
				<div class="col-lg-6">
					<div class="card">
						<div class="card-body">
							<p align="center">
								<img style="width: 300px;" src="resources/images/pretestImages/pretestimage1.jpg" />	
							</p>
							<div class="text-center">
							    <audio controls>
									<source src="resources/Aruba.mp3" type="audio/mp3">
									Your browser does not support the audio element.
								</audio>
							</div>
						</div>
					</div>
				</div>		
			</div>
			<div class="col-lg-1">
			</div>
		</div>
	</section>
</data>	